// Alien Shooter 1 Win32 resources reconstructed for Visual Studio resource compiler.
// Stage 35 policy: no external binary blob files. Images are normal .bmp/.ico; menu/dialog/accelerator/version are RC text.

#include <windows.h>
#include "resource.h"

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

/////////////////////////////////////////////////////////////////////////////
// Russian resources from original AlienShooter.exe, language 1049.

LANGUAGE 0x19, 0x01
#pragma code_page(1251)

"AppIcon" ICON "APPICON.ico"
"START_BITMAP" BITMAP "START_BITMAP.bmp"

"AppAccel" ACCELERATORS
BEGIN
    VK_F10, IDM_FILE_ABOUT,    VIRTKEY, NOINVERT
    VK_F2,  IDM_FILE_SAVE,     VIRTKEY, NOINVERT
    VK_F3,  IDM_FILE_LOAD,     VIRTKEY, NOINVERT
    VK_F9,  IDM_OPTIONS_ACCEL, VIRTKEY, NOINVERT, SHIFT
END

"AppMenu" MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Load\tF3",  IDM_FILE_LOAD
        MENUITEM "&Save\tF2",  IDM_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "&About\tF1", IDM_FILE_ABOUT
        MENUITEM "E&xit\tF12", IDM_FILE_EXIT
    END
    MENUITEM "&Options", IDM_OPTIONS_MENU_RAW
END

"APPABOUT" DIALOG 0, 0, 186, 94
STYLE 0x800008C0
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "OK", IDOK, "Button", 0x50010001, 68, 73, 50, 14
    CONTROL "Alien Shooter", IDC_STATIC, "Static", 0x50020000, 74, 14, 48, 8
    CONTROL "Copyright (c) 2002  ETeam", IDC_STATIC, "Static", 0x50020000, 46, 62, 91, 8
    CONTROL "AppIcon", IDC_STATIC, "Static", 0x50000003, 82, 34, 20, 20
END

"START_DIALOG" DIALOG 0, 0, 260, 162
STYLE 0x80C808C0
CAPTION "AlienShooter"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "Игра", IDOK, "Button", 0x50010001, 207, 110, 46, 14
    CONTROL "Выход", IDCANCEL, "Button", 0x50010000, 207, 130, 46, 14
    CONTROL "", IDC_START_VIDEO_DEVICE, "ComboBox", 0x50210003, 7, 110, 189, 66
    CONTROL "", IDC_START_VIDEO_MODE, "ComboBox", 0x50210003, 7, 130, 189, 74
    CONTROL "START_BITMAP", IDC_STATIC, "Static", 0x50001A0E, 7, 7, 246, 99
    CONTROL "Full-Screen", IDC_START_FULLSCREEN, "Button", 0x50010003, 7, 17, 88, 11
    CONTROL "Do'nt show this dialog at startup", IDC_START_NO_START_DIALOG, "Button", 0x50010003, 7, 28, 115, 11
    CONTROL "Triple video buffer", IDC_START_TRIPLE_BUFFER, "Button", 0x50010003, 7, 39, 75, 11
    CONTROL "Use Palette", IDC_START_USE_PALETTE, "Button", 0x50010003, 7, 7, 97, 11
    CONTROL "Low detail", IDC_START_LOW_DETAIL, "Button", 0x50010003, 127, 7, 68, 11
    CONTROL "Save demo", IDC_START_SAVE_DEMO, "Button", 0x50010003, 127, 28, 64, 11
    CONTROL "Sound High Quality", IDC_START_SOUND_HQ, "Button", 0x50010003, 127, 17, 77, 11
    CONTROL "", IDC_START_BLOOD_PASSWORD, "Edit", 0x508100A0, 77, 146, 38, 12
    CONTROL "Пароль для запрещения красной крови", IDC_START_BLOOD_ENABLE_TXT, "Static", 0x50020200, 115, 148, 138, 10
    CONTROL "Пароль для разрешения красной крови", IDC_START_BLOOD_DISABLE_TXT, "Static", 0x50020000, 115, 148, 138, 10
    CONTROL "", IDC_START_BLOOD_MODE, "ComboBox", 0x50010842, 7, 146, 69, 42
END

116 DIALOG 0, 0, 186, 95
STYLE 0x80C800C0
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "OK", IDOK, "Button", 0x50010001, 129, 7, 50, 14
    CONTROL "Cancel", IDCANCEL, "Button", 0x50010000, 129, 24, 50, 14
END

1 VERSIONINFO
 FILEVERSION 2,5,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x10004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "Comments", ""
            VALUE "CompanyName", "ETeama"
            VALUE "FileDescription", "AlienShooter Application"
            VALUE "FileVersion", "2, 5, 0, 1"
            VALUE "InternalName", "AlienShooter"
            VALUE "LegalCopyright", "Copyright © 2003"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "sw.rc"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "AlienShooter Application"
            VALUE "ProductVersion", "1, 0, 0, 1"
            VALUE "SpecialBuild", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
// English resource from original AlienShooter.exe, language 1033.

LANGUAGE 0x09, 0x01
#pragma code_page(1252)

"IDD_CONNECT_STATUS" DIALOG 120, 110, 162, 31
STYLE 0x90C000C0
CAPTION "Gromada connect"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "Waiting...", IDC_CONNECT_STATUS_TEXT, "Static", 0x50020001, 7, 7, 141, 16
END
